<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73070567442-4l9nvv0ae3bmi2bmur1me3bdv208rmtd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73070567442-4l9nvv0ae3bmi2bmur1me3bdv208rmtd</string>
	<key>API_KEY</key>
	<string>AIzaSyCD10Z2NFRiHRruWV0Ua8npEkU0SEtQNAY</string>
	<key>GCM_SENDER_ID</key>
	<string>73070567442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TrevorSchmidt.SchmidtCoin</string>
	<key>PROJECT_ID</key>
	<string>schmidt-coin</string>
	<key>STORAGE_BUCKET</key>
	<string>schmidt-coin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73070567442:ios:bd78b0f0ab2fae9f1938cb</string>
</dict>
</plist>